* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

header {
  background-color: #ffff00;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  height: 100%;
  gap: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav {
  display: flex;
  gap: 20px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pokemon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid black;
}

footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #ffff00;
  height: 50px;
}
